@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h2>Welcome @Html.DisplayFor(model => model.FirstName)
            @Html.DisplayFor(model => model.LastName)</h2>

<p>
    
</p>
