body {
    background-image: url(trash.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron{
    background: none;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#RowHeader{
    background-color:black;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#CompanyName{
    font-family: Georgia, serif;
}

#ComapanyTag{
    font-style: italic;
}

.NavButtons{
    font-family: Georgia, sans-serif;
    font-size: xx-large;
}

.EmployeeNavButtons{
    font-family: Georgia, sans-serif;
    font-size: x-large;
}

hr{
    border-color: white;
}

.textGeogia{
    font-family: Georgia, sans-serif;
}

.border-thick{
    border-width: thick;
}

.CustomerButton{
    color:white;
}
a.CustomerButton:hover{
        background-color:purple;
    }

.CustomerButton:active {
        color: #ff00dc;
    }

.CustomerButton:link {
        color: white;
    }

.CustomerButton:hover {
   background-color: purple;
}

.underline{
    text-decoration: underline;
}

 