@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-light">
    <h4 class="display-4" id="ComapanyTag">For all of your trash collection needs</h4>
    <h1 id="CompanyName" class="display-1">Global Collect</h1>

</div>

<div class="row">
    <div class="col-md-4 text-light">
        <h2>Get started</h2>
        <p>
            Sign up today and automatically recieve weekly trash pick ups on the day of your choice.

        </p>
    </div>
    <div class="col-md-4 text-light">
        <h2>Pay for what you need</h2>
        <p>
            Schedule one time pickups for large scale items or suspend your service for the weeks you dont need.
        </p>
    </div>
    <div class="col-md-4 text-light">
        <h2>Coming Soon</h2>
        <p>
            Tired of sending in your monthly payments? Soon you will be able to pay off your bill at any time online.
        </p>
    </div>
</div>